* {
    margin: 0px;
    padding: 0px;
}
body {
    color:ghostwhite;
}

#contenedor {
    width: 1600px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#encabezado {
    height: 300px;
    background-color: black;
}
#encabezado h1 {
    font-size: 110px;
    padding: 0%;
    margin-left: 10px;
    font-family: 'Kaushan Script', cursive;
    text-align: left;
    line-height: 300px;
  
    
}
#besos {
    width: 300px;
    margin-left: 20px;
    margin-right: 10px;
    float: left;
}
#cachorro {
    width: 410px;
    margin-top: 40px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    float: right;
    padding: 0%;
}
#isis {
    width: 445px;
    margin-top: 25px;
    margin-left: 32%;
    margin-bottom: 10px;
}

#menu-superior {

    height: 50px;
}

.btn {
    border: 3px;
    margin: 5px;
    padding: 10px;
    width: 150px;
    font-family: 'Kaushan Script', cursive;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    background-size: 300%;
}

.btn1 {
    border: 3px;
    margin-top: 15px;
    margin-left: 27px;
    padding: 10px;
    height: 50px;
    width: 85%;
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    background-size: 300%;
    display: block;
}

.btninicio {
    background-image: linear-gradient(to left, #8B008B, #40E0D0, #8B008B);
}

.btntablas {
    background-image: linear-gradient(to left, #8b5d00c9, #d5e040f0, #8b5d00dd);
}
.btnvideos {
    background-image: linear-gradient(to left, #9fe256e3, #42caccf0, #9fe256e3);
}
.btnformulario {
    background-image: linear-gradient(to left, #1e7084e3, #35cbd5f0, #1e7084e3);
}
.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 77%;
    float: right;
    margin-top: 10px;
    margin-left: 10px;

}
#articulo {
    justify-content: center;
    align-items: center;
}
.titulos {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 80px;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    color: black;
    
}
#videosyoutube {
    margin-top: 65px;
    display: block;
    align-self: center;
    margin-bottom: 10px;
}
.parrafo-inicio {
    margin: 10px;
    font-size: 18px;
    color: black;
    font-family: 'Kaushan Script', cursive;
}


#menu-lateral {
    width: 20%;

    margin-top: 12%;
    margin-right: 5px;
    float: left;
    align-content: center;
}
#menu {
    height: 60px;
    border-radius: 8px;
    border-bottom: 10px;
}
#menu h2{
    font-size: 40px;
    height: 45px;
    font-family: 'Kaushan Script', cursive;
    color: black;
    text-align: center;
}
table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    color: black;
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 15px;

}
th, td {
    color: #000;
    border: solid 1px black;
    padding: 10px;
}
thead {
    
    border-bottom: solid 5px, #0f362D;
    color: white;
}
tr:nth-child(even) {
    background-color: #ddd;

}
#cadena {
    width: 300px;
    border-radius: 25%;
    margin-top: 25px;
    margin-left: 150px;
    margin-bottom: 20px;
    float: none;
}
.formulario {
    align-items: center;
    align-content: center;
    
}

.controls{
    width: 50%;
    background-color: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    align-items: center;
    align-content: center;
    align-self: center;
    float: center;
    color: white;
    margin-left: 23%;
    border: 1px solid #7fdaf3;
    font-family: 'Kaushan Script', cursive;
    font-size: 18px;
    box-shadow: 2px 7px 12px #000;
}
.formulario p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    color: black;
    font-family: 'Kaushan Script', cursive;
}
.formulario a:hover {
    color: black;
    text-decoration: underline;
}
.botons  {
    width: 12%;
    background-color: #24303c;
    border-radius: 12px;
    border: none;
    padding: 12px;
    color: white;
    margin-left: 43%;
    font-size: 16px;
    margin-bottom: 25px;
    box-shadow: 2px 7px 12px #000;

}

.pie-pagina {
    background-color: rgba(1, 19, 14, 0.603);
    margin-top: 10px;
    height: 70px;
    border-radius: 15px;
    text-align: center;
    clear: both;
}
.pie-pagina h2{
    font-size: 22px;
}



